body {background: url('log.jpg');}  
  margin: auto; /* Supprimer toute marge à la page : le texte colle les bordures */
  

}

h1 {
font-size : 200%; 
margin : 50px; 
color : 3366FF;
text-align:center;
} 

 
    .myButton {
        
        -moz-box-shadow: 3px 4px 0px 0px #284470;
        -webkit-box-shadow: 3px 4px 0px 0px #284470;
        box-shadow: 3px 4px 0px 0px #284470;
        
        background-color:#415989;
        
        -moz-border-radius:18px;
        -webkit-border-radius:18px;
        border-radius:18px;
        
        border:1px solid #1f2f47;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:17px;
        font-weight:normal;
        padding:10px 25px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #263666;
        
    }
    .myButton:hover {
        
        background-color:#516ca3;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

	
